<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gigastorm</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>

    <link href="css/index.css" rel="stylesheet">
    <link href="css/music.css" rel="stylesheet">
  </head>

  <body ng-app="app" layout="row" ng-controller="MusicCtrl">
      <div id="sideMenuContainer">
          <div class="sideMenuItemContainer" style="height: 140px;">
              <img src="assets/gigastormLogo.png" style="margin-left: 20px; margin-top: 29.5px;">
          </div>
          <div class="sideMenuItemContainer" style="height: 180px;">
              <img id="nowPlayingCircle" ng-src="assets/albums/{{music.queue[0].img}}.jpg">

              </img>
              <div id="userNameContainer">
                  <h4 style="margin-bottom: 5px">{{music.queue[0].title}}</h4>
                  <h5 style="margin-top: 5px;">{{music.queue[0].artist.name}}</h5>
              </div>
          </div>

          <div class="sideMenuItemContainer" style="position: fixed; width: 280px; top: 340px; bottom: 0px; ">

              <div style="height: 100%; position: relative;">
                  <div style="height: 60px; position: relative;">
                      <h5 class="md-headline musicQueueHeading">Queue</h5>
                  </div>
                  <md-content class="musicQueueContent">
                      <ul style="padding:0; margin: 0; height: 100%;">
                          <li ng-repeat="song in music.queue track by $index" class="musicQueueListItem">
                              <div class="musicQueueIconContainer">
                                  <img ng-src="assets/albums/{{song.img}}.jpg" class="musicQueueItemIcon">
                              </div>
                              <div class="musicQueueTextContainer">
                                  <p style="line-height: 45px; margin: 0;">{{song.title}}</p>
                              </div>
                          </li>
                      </ul>
                  </md-content>
              </div>

          </div>
      </div>

      <div id="rightSideContainer">

          <div id="headerBarContainer">
              <div style="height: 70px; width: 30%; float: left;">
                  <div id="userImageContainer">
                      <img ng-src="assets/jason.jpg" id="userImage" >
                  </div>
                  <md-button ng-click="showSettings($event)" style="margin-top: 17px; margin-left: 110px; color: #fafafa;">{{account.firstName}}</md-button>
              </div>

              <div style="height: 70px; width: 40%; float: left; text-align: center; color: #fafafa; line-height: 70px; ">
                  <h3 style="margin: 0;">{{music.organisedBy.toUpperCase()}}</h3>
              </div>

              <div style="height: 70px; width: 30%; float: right; position: relative;">
                  <div id="musicHeaderSearchBox">
                      <form ng-submit="search()">
                          <md-input-container md-no-float style="padding: 0;">
                              <input id="musicHeaderSearchInput" ng-model="music.search" type="text" aria-label="a" placeholder="Search">
                          </md-input-container>
                      </form>
                  </div>
              </div>
          </div>



          <div id="appContentContainer">

              <div id="musicHeaderContainer">
                  <div id="musicHeaderButtonContainer">
                      <div class="musicHeaderButton" style="margin-left: 12.5%;">
                          <md-button ng-click="organiseMusicBy('artists')" class="musicHeaderButtonText">Artists</md-button>
                      </div>
                      <div class="musicHeaderButton">
                          <md-button ng-click="organiseMusicBy('albums')" class="musicHeaderButtonText">Albums</md-button>
                      </div>
                      <div class="musicHeaderButton">
                          <md-button ng-click="organiseMusicBy('genres')" class="musicHeaderButtonText">Genres</md-button>
                      </div>
                      <div class="musicHeaderButton">
                          <md-button ng-click="organiseMusicBy('songs'); orderSongsBy('artist', music.allSongs)" class="musicHeaderButtonText">Songs</md-button>
                      </div>
                      <div class="musicHeaderButton">
                          <md-button ng-click="organiseMusicBy('playlists')" class="musicHeaderButtonText">Playlists</md-button>
                      </div>
                  </div>
              </div>


              <div id="musicItemsContainer">

                  <md-button class="md-fab" id="standardFabButton" ng-show="artistToDisplay || albumToDisplay ||
                            genreToDisplay || music.organisedBy === 'songs' || playlistToDisplay">
                      <md-tooltip md-direction="left">Add To Queue</md-tooltip>
                      <md-icon md-svg-src="assets/icons/plus.svg"></md-icon>
                  </md-button>

                  <div ng-include="'templates/artists.html'"></div>

                  <div ng-include="'templates/albums.html'"></div>

                  <div ng-include="'templates/genres.html'"></div>

                  <div ng-include="'templates/songs.html'"></div>

                  <div ng-include="'templates/playlists.html'"></div>

              </div>


              <div id="musicControlsContainer">
                  <div style="height: 80px; width: calc(50% - 80px); float: left; position: relative;">
                      <p style="position: absolute; line-height: 80px; width: 10%; margin: 0 0 0 5%; color: #fafafa;">{{music.currentTrack.val}}</p>
                      <md-slider min="0" max="100" ng-model="music.currentTrack.perc" ng-change="calculateCurrentTrackVal()" aria-label="red" id="trackSlider">
                      </md-slider>
                  </div>
                  <div id="trackButtonsContainer">
                      <div class="smallTrackButton">
                          <img ng-src="assets/icons/back.png">
                      </div>
                      <div class="bigTrackButton" ng-click="togglePlayPause()">
                          <img ng-src="assets/icons/{{playPauseIcon}}.png"  style="">
                      </div>
                      <div class="smallTrackButton">
                          <img ng-src="assets/icons/skip.png">
                      </div>
                  </div>
                  <div style="height: 80px; width: calc(50% - 130px); float: left;">
                      <div id="shuffleButton"></div>
                      <div id="repeatButton"></div>
                  </div>
              </div>



          </div>
      </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-spotify/src/angular-spotify.js"></script>

    <script src="js/app.js"></script>

    <script src="js/controllers/musicCtrl.js"></script>
    <script src="js/services/musicService.js"></script>
    <script src="js/services/accountService.js"></script>

  </body>
</html>
