
<div id="musicHeaderContainer">
    <div id="musicHeaderButtonContainer">
        <div class="musicHeaderButton">
            <md-button ng-click="organiseMusicBy('artists')" class="musicHeaderButtonText">Artists</md-button>
        </div>
        <div class="musicHeaderButton">
            <md-button ng-click="organiseMusicBy('albums')" class="musicHeaderButtonText">Albums</md-button>
        </div>
        <div class="musicHeaderButton">
            <md-button ng-click="organiseMusicBy('genres')" class="musicHeaderButtonText">Genres</md-button>
        </div>
        <div class="musicHeaderButton">
            <md-button ng-click="organiseMusicBy('songs')" class="musicHeaderButtonText">Songs</md-button>
        </div>
        <div class="musicHeaderButton">
            <md-button ng-click="organiseMusicBy('playlists')" class="musicHeaderButtonText">Playlists</md-button>
        </div>
    </div>
    <div id="musicHeaderSearchContainer">

        <div id="musicHeaderSearchBox">
            <form ng-submit="search()">
                <md-input-container md-no-float style="padding: 0;">
                    <input id="musicHeaderSearchInput" ng-model="music.search" type="text" aria-label="a" placeholder="Search">
                </md-input-container>
            </form>
        </div>

    </div>
</div>

<div id="musicItemsContainer">

    <div ng-show="music.organisedBy === 'artists'">
        <div class="musicItemBox artistBox" ng-repeat="artist in music.artists track by $index" style="overflow: hidden">
            <div class="artistImageContainer" style="height: 75%;">
                <img ng-src="assets/artists/{{artist.img}}.jpg" style="max-height: 100%; display: block; margin: auto">
            </div>
            <div style="width: 100%; height: 25%; padding-top: 13px;">
                <p style="margin: 0; text-align: center">{{artist.name}}</p>
            </div>
        </div>
    </div>


    <div ng-show="music.organisedBy === 'albums'">
        <div class="musicItemBox albumBox" ng-repeat="album in music.allAlbums track by $index" style="overflow: hidden">
            <img ng-src="assets/albums/{{album.img}}.jpg" style="height: 100%; width: 100%; position: absolute;">
            <div class="albumImageContainer">
                <img style="width: 100%; height: 200px;" ng-src="assets/albums/{{album.img}}.jpg">
            </div>
            <img class="frostedAlbumImage" ng-src="assets/albums/{{album.img}}.jpg">
            <div class="albumTextContainer">
                <p class="albumText" style="font-size: 15px;">{{album.name}}</p>
                <p class="albumText" style="font-size: 13px;">{{album.artist}}</p>
            </div>
        </div>
    </div>


    <div ng-show="music.organisedBy === 'genres'">
        <div class="musicItemBox genreBox" ng-repeat="genre in music.genres track by $index" ng-style="genre.color">
            <h2 class="genreText">{{genre.name}}</h2>
        </div>
    </div>

    <div ng-show="music.organisedBy === 'songs'">
        <div class="songList">
            <div class="songListItemHeading">
                <div class="songListItemFieldContainer" style="width: 50px;"></div>
                <div class="songListItemFieldContainer" ng-click="orderAllSongsBy('title');"
                     ng-class="(music.allSongsOrderedBy === 'title') ? 'usedToOrderAllSongs' : ''" style="width: calc(40% - 50px); color: #757575;">
                    <p style="margin-left: 10px;"><b>Name</b></p>
                </div>
                <div class="songListItemFieldContainer" style="width: 10%; color: #757575;">
                    <p style="margin-left: 10px;"><b>Length</b></p>
                </div>
                <div class="songListItemFieldContainer" ng-click="orderAllSongsBy('artist');"
                     ng-class="(music.allSongsOrderedBy === 'artist') ? 'usedToOrderAllSongs' : ''" style="width: 25%; color: #757575;">
                    <p style="margin-left: 10px;"><b>Artist</b></p>
                </div>
                <div class="songListItemFieldContainer" ng-click="orderAllSongsBy('album');"
                     ng-class="(music.allSongsOrderedBy === 'album') ? 'usedToOrderAllSongs' : ''" style="width: 25%; color: #757575;">
                    <p style="margin-left: 10px;"><b>Album</b></p>
                </div>
            </div>
            <div class="songListItem" ng-repeat="song in music.allSongs track by $index">
                <div class="songListItemFieldContainer" style="width: 50px;">
                    <img ng-src="assets/albums/{{song.img}}.jpg" class="songListItemImg">
                </div>
                <div class="songListItemFieldContainer" style="width: calc(40% - 50px);">
                    <p style="margin-left: 10px;">{{song.title}}</p>
                </div>
                <div class="songListItemFieldContainer" style="width: 10%;">
                    <p style="margin-left: 10px;">{{song.length}}</p>
                </div>
                <div class="songListItemFieldContainer" style="width: 25%;">
                    <p style="margin-left: 10px;">{{song.artist}}</p>
                </div>
                <div class="songListItemFieldContainer" style="width: 25%;">
                    <p style="margin-left: 10px;">{{song.album}}</p>
                </div>
            </div>
        </div>
    </div>








</div>

