
<!--Songs MainPage-->
<div ng-show="showSearchResults">
    <div class="songList">
        <div class="songListItemHeading">
            <div class="songListItemFieldContainer" style="width: 70px;"></div>
            <div class="songListItemFieldContainer" ng-click="orderTracksBy('name', music.tracksFromSearch);"
                 ng-class="(music.allTracksOrderedBy === 'name') ? 'usedToOrderAllSongs' : ''" style="width: calc(40% - 70px); color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Name</b></p>
            </div>
            <div class="songListItemFieldContainer"  ng-click="orderTracksBy('length', music.tracksFromSearch);"
                 ng-class="(music.allTracksOrderedBy === 'length') ? 'usedToOrderAllSongs' : ''" style="width: 10%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Length</b></p>
            </div>
            <div class="songListItemFieldContainer" ng-click="orderTracksBy('artist', music.tracksFromSearch);"
                 ng-class="(music.allTracksOrderedBy === 'artist') ? 'usedToOrderAllSongs' : ''" style="width: 25%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Artist</b></p>
            </div>
            <div class="songListItemFieldContainer" ng-click="orderTracksBy('album', music.tracksFromSearch);"
                 ng-class="(music.allTracksOrderedBy === 'album') ? 'usedToOrderAllSongs' : ''" style="width: 25%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Album</b></p>
            </div>
        </div>
        <div class="songListItem" ng-repeat="track in music.tracksFromSearch track by $index">
            <div class="songListItemFieldContainer" style="width: 70px;">
                <img ng-src="{{track.album.imgSmall.url}}" class="songListItemImg">
            </div>
            <div class="songListItemFieldContainer" style="width: calc(40% - 70px);">
                <p>{{track.name}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 10%;">
                <p>{{track.durationString}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 25%;">
                <p>{{track.album.artist.name}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 25%;">
                <p>{{track.album.name}}</p>
            </div>
        </div>
    </div>
</div>