<!--Songs MainPage-->
<div ng-show="music.organisedBy === 'songs'">
    <div class="songList">
        <div class="songListItemHeading">
            <div class="songListItemFieldContainer" style="width: 70px;"></div>
            <div class="songListItemFieldContainer" ng-click="orderSongsBy('title', music.allSongs);"
                 ng-class="(music.allSongsOrderedBy === 'title') ? 'usedToOrderAllSongs' : ''" style="width: calc(40% - 70px); color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Name</b></p>
            </div>
            <div class="songListItemFieldContainer" style="width: 10%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Length</b></p>
            </div>
            <div class="songListItemFieldContainer" ng-click="orderSongsBy('artist', music.allSongs);"
                 ng-class="(music.allSongsOrderedBy === 'artist') ? 'usedToOrderAllSongs' : ''" style="width: 25%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Artist</b></p>
            </div>
            <div class="songListItemFieldContainer" ng-click="orderSongsBy('album', music.allSongs);"
                 ng-class="(music.allSongsOrderedBy === 'album') ? 'usedToOrderAllSongs' : ''" style="width: 25%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Album</b></p>
            </div>
        </div>
        <div class="songListItem" ng-repeat="song in music.allSongs track by $index">
            <div class="songListItemFieldContainer" style="width: 70px;">
                <img ng-src="assets/albums/{{song.img}}.jpg" class="songListItemImg">
            </div>
            <div class="songListItemFieldContainer" style="width: calc(40% - 70px);">
                <p style="margin-left: 10px;">{{song.title}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 10%;">
                <p style="margin-left: 10px;">{{song.length}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 25%;">
                <p style="margin-left: 10px;">{{song.artist}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 25%;">
                <p style="margin-left: 10px;">{{song.album}}</p>
            </div>
        </div>
    </div>
</div>