
<style>
    .songListItemFieldContainer p {
        line-height: 50px;
        margin: 0 0 0 10px;
        width: calc(100% - 25px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>

<!--Songs MainPage-->
<div ng-show="music.organisedBy === 'songs'">
    <div class="songList">
        <div class="songListItemHeading">
            <div class="songListItemFieldContainer" style="width: 70px;"></div>
            <div class="songListItemFieldContainer" ng-click="orderTracksBy('name', music.songs);"
                 ng-class="(music.allTracksOrderedBy === 'name') ? 'usedToOrderAllSongs' : ''" style="width: calc(40% - 70px); color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Name</b></p>
            </div>
            <div class="songListItemFieldContainer"  ng-click="orderTracksBy('length', music.songs);"
                 ng-class="(music.allTracksOrderedBy === 'length') ? 'usedToOrderAllSongs' : ''" style="width: 10%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Length</b></p>
            </div>
            <div class="songListItemFieldContainer" ng-click="orderTracksBy('artist', music.songs);"
                 ng-class="(music.allTracksOrderedBy === 'artist') ? 'usedToOrderAllSongs' : ''" style="width: 25%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Artist</b></p>
            </div>
            <div class="songListItemFieldContainer" ng-click="orderTracksBy('album', music.songs);"
                 ng-class="(music.allTracksOrderedBy === 'album') ? 'usedToOrderAllSongs' : ''" style="width: 25%; color: #ACACAC;">
                <p style="margin-left: 10px;"><b>Album</b></p>
            </div>
        </div>
        <div class="songListItem" ng-repeat="song in music.songs track by $index">
            <div class="songListItemFieldContainer" style="width: 70px;">
                <img ng-src="{{song.album.imgSmall.url}}" class="songListItemImg">
            </div>
            <div class="songListItemFieldContainer" style="width: calc(40% - 70px);">
                <p>{{song.name}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 10%;">
                <p>{{song.durationString}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 25%;">
                <p>{{song.album.artist.name}}</p>
            </div>
            <div class="songListItemFieldContainer" style="width: 25%;">
                <p>{{song.album.name}}</p>
            </div>
        </div>
    </div>
</div>